# DS_store files
.DS_store

# Testing Outputs
testing_materials/example_outputs/*

# Python
src/motif_locator/__pycache__
src/statistic_analysis/__pycache__
*pyc

# Outputs
output/*
testing_materials/example_outputs/*
testing_materials/example_data/*

# Data
data/*
