# DS_store files
.DS_store

# Python
src/motif_locator/__pycache__
src/statistic_analysis/__pycache__
src/csv_output/__pycache__
src/file_reader/__pycache__
src/alphabet/__pycache__
src/summary_statistics/__pycache__
*pyc

# Outputs
output/*
testing_materials/example_outputs/cattle_test/*
testing_materials/example_outputs/DNA_test/*
testing_materials/example_outputs/RNA_test/*

# Nextflow Documentation
*.log*
.nextflow/
work/

# Data
data/*
testing_materials/example_data/cattle_test_genome
/testing_materials/example_data/DNA_test_phages/N_meningitidis_phages.fasta

# Error log
errors.log
