# DS_store files
.DS_store

# Testing Outputs
testing_materials/example_outputs/*

# Python
src/motif_locator/__pycache__
src/statistic_analysis/__pycache__
src/csv_output/__pycache__
src/file_reader/__pycache__
src/macromolecule_alphabet/__pycache__
*pyc

# Outputs
output/*
testing_materials/example_outputs/*

# Data
data/*
testing_materials/example_data/cattle/*
