docker.enabled = true

env.PYTHONPATH = "${projectDir}"

params {
    csv_output = "${projectDir}/testing_materials/example_outputs/DNA_phage_test.csv"
    fasta_files = "${projectDir}/testing_materials/example_data/DNA_test_phages/"
    motif_file = "${projectDir}/testing_materials/example_data/DNA_test_motifs.csv"
    strand = "both"
    macromolecule = "DNA"
}